SUPABASE_URL = "https://gxyltlvqsfxycsxmjpwf.supabase.co"
SUPABASE_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imd4eWx0bHZxc2Z4eWNzeG1qcHdmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MDc0NzQ2MjMsImV4cCI6MjAyMzA1MDYyM30.jTkle4h1vuvOT4IYlbNDRtqHyOzUgFfq-yumC5Yrivg"